@CHARSET "UTF-8";

body {
	font-family: Arial, Helvetica;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	color: #006699;
}

h1 {
	font-size: 40px;
	margin: 4px;
}

h2 {
	font-size: 28px;
	margin: auto;
}

input:not([type]), input[type="text"], input[type="password"] {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	padding: 4px;
	border-radius: 2px;
	background: #ffffff none repeat scroll 0 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    cursor: text;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.frm-crud, .frm-login {
	margin: auto;
	margin-top: 20px;
	padding: 4px;
	border: 1px solid #c4c4c4;
	border-radius: 12px;
}

.ui-dialog {
	padding: 4px;
	border: 1px solid #c4c4c4;
	border-radius: 12px;
}

.frm-login {
	width: 420px;
	margin-top: 50px;
}

.frm-title, .ui-dialog-titlebar {
	padding: 2px;
	margin: 0px 0px 4px 0px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	background-color: #006699 !important;
	border-radius: 6px 6px 0px 0px !important;
}

.ui-dialog.ui-widget-content {
	border-radius: 10px !important;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close {
	margin: 2px;
}

.ui-fieldset {
	padding: 4px !important;
}

.ui-fieldset .ui-fieldset-legend {
	color: #006699 !important;
	padding: 8px !important;
	border: none !important;
	background: transparent !important;
}

.ui-datatable-tablewrapper {
	border-radius: 8px !important;
}

.ui-datatable table {
	border-collapse: separate !important;
	table-layout: auto !important F;
	width: 100%;
}

.frm-line {
	padding: 4px;
	margin: 4px;
}

.frm-line label {
	display: inline-block;
	width: 160px;
	text-align: right;
	margin-right: 12px;
}

.frm-submit {
	text-align: center;
	display: block;
	margin-top: 12px;
	padding: 2px;
}

button.primary {
	padding: 1px !important;
	background: #006699 !important;
	color: #ffffff !important;
	border-radius: 6px !important;
	text-shadow: none !important;
	margin: 4px;
}

button.primary:hover {
	color: #ccffff !important;
}

.required {
	font-weight: bold;
}

.mrauto {
	margin: auto;
}

.pc10 {
	width: 10%;
}

.pc20 {
	width: 20%;
}

.pc30 {
	width: 30%;
}

.pc40 {
	width: 40%;
}

.pc50 {
	width: 50%;
}

.pc60 {
	width: 60%;
}

.pc70 {
	width: 70%;
}

.pc80 {
	width: 80%;
}

.pc90 {
	width: 90%;
}

.pc100 {
	width: 100%;
}

.txctr {
	text-align: center;
}

.txrgt {
	text-align: right;
}

.txlft {
	text-align: left;
}

.txtop {
	vertical-align: top;
}