@CHARSET "UTF-8";

body {
	font-family: Arial, Helvetica !important;;
	font-size: 12pt;
	color: #000000;
}

body.page {
	background-image: url("../img/botmaker-bck.png.jsf");
	background-position: left top;
	background-repeat: repeat-x;
}

a {
	color: blue !important;
}

h1, h2, h3, h4, h5, h6 {
	color: #643c83;
	display: block;
}

h1 {
	font-size: 36px;
	margin: 4px;
}

h2 {
	font-size: 30px;
	margin: 2px !important;
}

h3 {
	font-size: 22px;
	margin: 4px 2px 0px 2px !important;
	padding: 4px !important;
}

label {
	padding: 4pt !important;
	font-size: 12pt !important;
}

input, select, textarea {
	padding: 4pt !important;
	font-size: 12pt !important;
}

.frm-crud, .frm-login {
	margin: auto;
	margin-top: 20px;
	padding: 4px;
}

.ui-dialog {
	padding: 4px;
	border: 1px solid #c4c4c4;
	border-radius: 12px;
}

.frm-crud {
	border: 1px solid #643c83;
	border-radius: 4px;
}

.frm-login {
	width: 300px;
	margin-top: 10px;
	border: none;
}

.frm-login label {
	margin-top: 12pt;
	display: block;
}

.frm-login input {
	width: 100% !important;
	padding: 6pt !important;
	font-size: 16pt !important;
	border-radius: 4pt !important;
}

.frm-login input[type="submit"] {
	margin-top: 16pt !important;
}

.frm-title, .ui-dialog-titlebar {
	padding: 2px;
	margin: 0px 0px 4px 0px;
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	background-color: #643c83 !important;
	border-radius: 4px !important;
}

.ui-dialog.ui-widget-content {
	border-radius: 6px !important;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close {
	margin: 2px;
}

.ui-fieldset {
	padding: 4px !important;
}

.ui-fieldset .ui-fieldset-legend {
	color: #006699 !important;
	padding: 8px !important;
	border: none !important;
	background: transparent !important;
}

.ui-datatable-tablewrapper {
	border-radius: 8px !important;
}

.ui-datatable table {
	border-collapse: separate !important;
	table-layout: auto !important F;
	width: 100%;
}

.frm-line {
	padding: 4px;
	margin: 4px;
}

.frm-line label {
	display: inline-block;
	float: left;
	width: 15%;
	text-align: right;
	margin-right: 12px;
	color: gray !important;
	font-style: italic !important;
}

.frm-line div, .frm-line table, .frm-line input, .frm-line textarea {
	width: 80% !important;
}

.frm-submit {
	text-align: center;
	display: block;
	margin-top: 12px;
	padding: 2px;
}

input.primary, button.primary {
	/*background: #54326f !important;*/
	color: #ffffff !important;
	padding: 6px !important;
	font-weight: bold;
	border-radius: 4px !important;
	text-shadow: none !important;
	margin: 4px;
	cursor: default !important;
}

input.secondary, button.secondary {
	padding: 6px !important;
	border-radius: 4px !important;
	background: #cecece !important;
	margin: 4px;
}

button.primary:hover {
	color: #ccffff !important;
}

.required {
	font-weight: bold;
}

.mrauto {
	margin: auto;
}

.pc5 {
	width: 5% !important;
}

.pc10 {
	width: 10% !important;
}

.pc15 {
	width: 15% !important;
}

.pc20 {
	width: 20% !important;
}

.pc30 {
	width: 30% !important;
}

.pc40 {
	width: 40% !important;
}

.pc50 {
	width: 50% !important;
}

.pc60 {
	width: 60% !important;
}

.pc70 {
	width: 70% !important;
}

.pc80 {
	width: 80% !important;
}

.pc90 {
	width: 90% !important;
}

.pc100 {
	width: 100% !important;
}

.green {
	color: green;
}

.purple {
	color: purple;
}

.red {
	color: red;
}

.txctr {
	text-align: center;
}

.txrgt {
	text-align: right;
}

.txlft {
	text-align: left;
}

.txtop {
	vertical-align: top;
}

.txmiddle {
	vertical-align: middle;
}

.fltrgt {
	float: right;
}

.fltlft {
	float: left;
}

.mgbot4 {
	margin-bottom: 4px !important;
}

div.head {
	display: inline-block;
	width: 100%;
	height: 78px !important; background-image :
	url("../img/botmaker-screen.png.jsf");
	background-position: left top;
	background-repeat: no-repeat;
	background-image: url("../img/botmaker-screen.png.jsf");
}

div.head h1 {
	width: 40% !important;
	margin: 0px 0px 0px 220px !important;
	display: block;
	float: left;
	font-size: 32pt;
}

div.head table.menubar {
	margin: 4px 0px 0px 200px !important;
	height: 30px !important;
	width: 40% !important;
	display: block !important;
	border: none !important;
	background: transparent !important;
	box-shadow: none !important;
}

