@CHARSET "UTF-8";

body {
	font-family: Arial, Helvetica !important;
	font-size: 12pt;
	color: #000000;
}

body.page {
	background-position: left top;
	background-repeat: repeat-x;
	overflow: auto;
	margin: 0px;
}

div.head {
	display: inline-block;
	width: 100%;
	height: 40px !important;
	background-color: purple;
	background-image: url("../img/botmaker-screen.png.jsf");
	background-position: left top;
	background-repeat: no-repeat;
}

div.head h1 {
	width: 40% !important;
	margin: 0px 0px 0px 220px !important;
	display: block;
	float: left;
	font-size: 32pt;
}

div.head table.menubar {
	margin: 4px 0px 0px 200px !important;
	height: 30px !important;
	width: 40% !important;
	border: none !important;
	background: transparent !important;
	box-shadow: none !important;
}

a {
	color: blue !important;
}

h1, h2, h3, h4, h5, h6 {
	color: purple;
	display: block;
	margin: auto;
	width: 98% !important;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 22px;
}

input, select, textarea {
	padding: 4pt !important;
	font-size: 12pt !important;
}

.frm-login {
	margin: auto;
	margin-top: 20px;
	padding: 4px;
	width: 300px;
	margin-top: 10px;
	border: none;
}

.frm-login label {
	margin-top: 12pt;
	display: block;
	padding: 4pt !important;
	font-size: 12pt !important;
}

.frm-login input {
	width: 100% !important;
	padding: 6pt !important;
	font-size: 16pt !important;
	border-radius: 4pt !important;
}

.frm-login input[type="submit"] {
	margin-top: 16pt !important;
}

.frm-crud {
	width: 98% !important;
	margin: auto !important;
	margin-top: 6px !important;
	padding: 0px !important;
	border: 1px solid #DFA5A5 !important;
}

.frm-crud table.rf-dt {
	width: 100% !important;
}

.frm-crud div.rf-p-b {
	padding: 2px !important;
}

.frm-crud .frm-title {
	padding: 2px;
	margin: 0px 0px 4px 0px;
	text-align: left;
	font-size: 14pt;
	font-weight: bold;
	color: #ffffff;
	background-color: purple !important;
	border-radius: 0px !important;
}

.frm-crud .frm-line {
	display: inline-block;
	margin: 12px 4px 4px 4px !important;
	padding: 4px;
	width: 100%;
	font-size: 12pt;
	vertical-align: middle;
}

.frm-crud .frm-line label {
	padding: 2pt !important;
	font-size: 12pt !important;
	display: inline-block;
	float: left;
	width: 25%;
	text-align: right;
	margin-right: 8px;
	color: purple;
}

span.txt {
	display: inline-block;
	padding: 2pt !important;
	font-size: 12pt !important;
}

.frm-line table, .frm-line input[type="text"], .frm-line input[type="password"] {
	width: 70%;
}

.frm-line select {
	
}

.frm-line input[type="checkbox"] {
	margin-top: 6px !important;
}

.frm-line div.CodeMirror {
	width: 71% !important;
}

.frm-submit {
	text-align: center;
	display: block;
	margin-top: 12px;
	padding: 2px;
}

input.primary, button.primary {
	background: purple !important;
	border: 1px solid purple !important;
	color: #ffffff !important;
	padding: 6px 12px 6px 12px !important;
	font-weight: normal !important;
	border-radius: 4px !important;
	text-shadow: none !important;
	margin: 4px 6px 4px 6px !important;
	cursor: default !important;
}

input.secondary, button.secondary {
	background: #666666 !important;
	border: 1px solid #666666 !important;
	border-radius: 4px !important;
	color: #FFFFFF !important;
	font-weight: normal !important;
	margin: 4px;
	padding: 6px !important;
}

input.primary:hover, button.primary:hover, input.secondary:hover, button.secondary:hover
	{
	color: yellow !important;
}

.required {
	font-weight: bold;
}

.mrauto {
	margin: auto;
}

.pc5 {
	width: 5% !important;
}

.pc10 {
	width: 10% !important;
}

.pc15 {
	width: 15% !important;
}

.pc20 {
	width: 20% !important;
}

.pc30 {
	width: 30% !important;
}

.pc40 {
	width: 40% !important;
}

.pc50 {
	width: 50% !important;
}

.pc60 {
	width: 60% !important;
}

.pc70 {
	width: 70% !important;
}

.pc80 {
	width: 80% !important;
}

.pc90 {
	width: 90% !important;
}

.pc100 {
	width: 100% !important;
}

textarea.script {
	color: green !important;
	font-family: monospace !important;
	background-image: none !important;
	background-color: #333333 !important;
}

textarea[disabled].script {
	color: #222222 !important;
	background-color: #888888 !important;
	border: 1px solid purple !important;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.purple {
	color: purple;
}

.red {
	color: red;
}

.txctr {
	text-align: center;
}

.txrgt {
	text-align: right;
}

.txlft {
	text-align: left;
}

.txtop {
	vertical-align: top;
}

.txmiddle {
	vertical-align: middle;
}

.fltrgt {
	float: right;
}

.fltlft {
	float: left;
}

.mgbot4 {
	margin-bottom: 4px !important;
}

.rf-ddm-lbl-dec {
	color: #FFFFFF !important;
	font-weight: normal !important;
	font-size: 11pt !important;
}

.rf-ddm-lbl-dec:hover {
	color: yellow !important;
}

.rf-ddm-sel {
	border: none !important;
	background: transparent !important;
}

.rf-ddm-lbl-dec:hover {
	background: transparent !important;
}

.rf-dt-shdr-c, .rf-dt-c, input, select, textarea, button, keygen,
	isindex, legend, a {
	font-size: 12pt !important;
}

.rf-p-hdr, .rf-dt-c-srt, .rf-dt-shdr-c {
	background-color: purple !important;
	border: 1px solid #FFFFFF !important;
	font-size: 10pt !important;
	color: #FFFFFF !important;
	font-weight: normal !important;
	padding: 4px !important;
	background-image: none !important;
}

.rf-dt-c-srt {
	cursor: pointer;
	color: #FFFFFF !important;
}

.rf-dt-c-srt:hover {
	color: #FFFFFF !important;
}

.rf-dt-shdr-c {
	border: none !important;
	background-color: purple !important;
	background-image: none !important;
	color: #FFFFFF;
	padding: 4px;
	text-align: center;
}