<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Confirm your e-mail ownership</title>
</head>
<body>
	<h1 style="color: #440044">Confirm your e-mail ownership</h1>
	<p>Please confirm your e-mail account. To confirm that you are the owner of this e-mail ({user-email}) you need to click the link bellow.</p>
	<a href="http://{domain-name}/confirm-new-account.bot?uuidToken={token-uuid}" target="_blank">Confirm my account</a>
	<p>
		<b>Important!</b> <br /> <i style="color: red">This token is valid per 2 hours.</i>
	</p>
	<p>If you did not request to create a new account in GrandPa, please ignore this instructions.</p>
	<p>
		Best regards,<br /> 
		<a href="http://{domain-name}"><b><i>GrandPa Team</i></b></a>
	</p>
</body>
</html>