<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reseting your password</title>
</head>
<body>
	<h1 style="color: #440044">Reseting your password</h1>
	<p>Please use the link bellow to reset your password.</p>
	<a href="http://{domain-name}/reset-password.bot?uuidToken={token-uuid}" target="_blank">Reset my password</a>
	<p>
		<b>Important!</b> <br /> <i style="color: red">This token is valid per 2 hours.</i>
	</p>
	<p>If you did not request a password recovery, please ignore this instructions.</p>
	<p>
		Best regards,<br /> 
		<a href="http://{domain-name}"><b><i>GrandPa Team</i></b></a>
	</p>
</body>
</html>