@CHARSET "UTF-8";

a.cke_dialog_ui_button_ok {
	background: #67ab49 !important;
	border: 1px solid #67ab49 !important;
	color: #ffffff !important;
	padding: 4px 6px 4px 6px !important;
	font-weight: normal !important;
	border-radius: 4px !important;
	text-shadow: none !important;
	margin: 2px 6px 2px 6px !important;
	cursor: default !important;
}

textarea.script {
	color: green !important;
	font-family: monospace !important;
	background-image: none !important;
	background-color: #333333 !important;
}

textarea[disabled].script {
	color: #222222 !important;
	background-color: #888888 !important;
	border: 1px solid #440044 !important;
}

img.arrow-menu {
	cursor: pointer;
	position: relative;
	top: 2px;
	float: right;
	z-index: 40;
	position: relative;
}

img.logo {
	display: inline-block;
}

/* Richfaces components customization */
.rf-ddm-sep {
	border-top: 1px dotted #dfa5a5 !important;
	margin: 4px !important;
}

.rf-ddm-lbl-dec {
	color: #FFFFFF !important;
	font-weight: bold !important;
	font-size: 10pt !important;
}

.rf-ddm-lbl-dec:hover {
	color: yellow !important;
}

.rf-ddm-sel {
	border: none !important;
	background: transparent !important;
}

.rf-ddm-lbl-dec:hover {
	background: transparent !important;
}

.rf-p-b, .rf-dt-c {
	border: 1px solid #999999 !important;
	color: #666666 !important;
	font-size: inherit !important;
	font-family: inherit !important;
	line-height: 1 !important;
}

.rf-p-hdr, .rf-dt-c-srt, .rf-dt-shdr-c {
	background-color: #cecece !important;
	border: 1px solid #FFFFFF !important;
	font-size: inherit !important;
}

/* Richfaces Popup */
.rf-pp-hdr {
	background-image: none !important;
	border-radius: 6px 6px 0 0 !important;
}

.rf-pp-shade {
	background-color: #000000 !important;
	opacity: .6 !important;
}

.rf-pp-cntr {
	border-radius: 8px !important;
	background-color: #ffffff !important;
}

.rf-pp-cnt-scrlr {
	background: none !important;
}

.rf-pp-shdw {
	display: none !important;
	visibility: hidden !important;
}

.rf-pp-cnt {
	background: none !important;
	font-family: inherit !important;
	font-size: inherit !important;
}

.rf-ds {
	background-color: inherit !important;
}

.rf-ds-btn {
	background-image: none !important;
	background-color: inherit !important;
	border: 1px solid #999999 !important;
}

.rf-ds-dis {
	color: inherit !important;
}

.rf-dt-c-srt {
	cursor: pointer;
	color: #FFFFFF !important;
}

.rf-dt-shdr-c, .rf-dt-ftr-c {
	border: 1px solid #999999 !important;
	background-image: none !important;
	color: #444444 !important;
	font-family: inherit !important;
	font-weight: normal !important;
	line-height: 1.5 !important;
}

.statPane {
	margin: auto;
	width: 200px;
	height: 100px;
	display: block;
	border: 1px solid green;
}

div.CodeMirror {
	border: 1px solid #888888;
	font-size: 9pt !important;
}

.markdown {
	color: green !important;
}

.html {
	color: blue !important;
}

.groovy, .javascript, .python {
	border-radius: 4pt;
	padding: 2pt 4pt;
}

.groovy {
	color: #a953ff !important;
	background-color: lightsteelblue;
}

.javascript {
	color: #ff8000 !important;
}

.python {
	color: #5967ff !important;
}

.pick {
	display: inline-block !important;
	margin: 2px 2px 2px 20px !important;
	z-index: 20 !important;
}

.script-editor, .rf-pp-cnt {
	padding: 0px !important;
}

.editor-toolbar h2 {
	width: 14% !important;
	font-size: 36px;
	display: inline-block;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	float: left;
}

.page-content {
	display: inline-block;
	background-color: #FFFFFF;
	width: 100% !important;
	padding: 0;
	margin: 0;
	padding: 0;
}

.page-content * {
	margin: 0 !important;
}

hr.spacer {
	padding: 1pt !important;
	margin: 2pt 22pt !important;
}

div.editor-toolbar div.editor-menu {
	border: 0 !important;
	background-color: transparent !important;
	height: inherit;
	max-height: inherit;
	width: 85% !important;
	display: inline-block;
	padding: 0px !important;
	margin: 2px !important;
	float: right;
}

div.editor-menu div.rf-p-b {
	padding: 0 !important;
}

div.editor-toolbar div.editor-info {
	display: block;
	float: left;
	width: 85% !important;
	height: inherit;
	max-height: inherit;
}

.editor-info tbody tr td {
	margin: 0px 6px 0px 18px !important;
	vertical-align: top;
}

.editor-buttons {
	float: right;
	text-align: center;
	vertical-align: middle;
}

.editor-buttons input.secondary {
	margin: 2px 2px 2px 12px;
}

.editor-screen {
	padding: 2px 0px 2px 0px !important;
	border: none !important;
	background: transparent !important;
}

.editor-screen div h3 {
	margin: auto !important;
	display: block;
	width: 96%;
	padding: 1px 2px 2px 0px;
	text-align: left;
}

.editor-screen div h3.v-space {
	padding: 8px 2px 2px 0px !important;
}

.bck-script-editor {
	background-color: #dfdfdf;
}

.output-console {
	border: 1px solid #888888;
	background-color: #BDBDBD;
	color: #222222 !important;
	font-size: 9pt !important;
	overflow: auto;
	min-height: 260px;
	height: 260px;
	max-height: 260px;
	padding: 6px !important;
	margin: 2px !important;
	white-space: pre-line !important;
	width: 290px !important;
	max-width: 290px !important;
}

.rf-tb {
	background-color: transparent !important;
	background-image: none !important;
}

.link-destac {
	margin: 16px 0px 16px 0px !important;
	font-size: 14pt !important;
	font-weight: normal !important;
}

.rf-ddm-emptyIcon {
	display: none !important;
}

.rf-pm-top-gr {
	border: none !important;
	margin-bottom: 6pt !important;
}

.rf-pm-top-gr-hdr {
	background-image: none !important;
	background-color: transparent !important;
}

.rf-pm-top-gr-lbl {
	font-size: 12pt !important;
}

.rf-pm-itm-lbl {
	font-size: 10pt !important;
}

.rf-pm-itm, .rf-pm-top-itm, .rf-pm-gr-hdr {
	border: none !important;
	padding-left: 6px !important;
}

.rf-pm-itm:hover, .rf-pm-top-itm:hover, .rf-pm-gr-hdr:hover {
	background-color: inherit !important;
	font-weight: bold !important;
}

.rf-ntf-cnt {
	padding: inherit !important;
	border-width: inherit !important;
	border-style: inherit !important;
	border-radius: inherit !important;
	border-color: inherit !important;
	background-color: inherit !important;
}