@CHARSET "UTF-8";

body, a {
	font-family: Consolas, Lucida Console, Inconsolata;
	font-size: 11pt;
}

h1.blog-title {
	margin: auto;
	padding: 4pt 0pt 4pt 0pt;
}

h3.blog-slogan {
	margin: auto;
	padding: 2pt 0pt 12pt 0pt;
}

div.pg-item-list {
	margin: auto;
	/*background-color: #e1e1e1;*/
	padding: 4px;
}

div.pg-content {
	font-size: 12pt;
}

table.pg-foot {
	width: 100%;
	display: inline-table;
}

table.pg-foot td {
	text-align: right;
}

@media only screen and (max-device-width: 480px) {
	body, a {
		font-size: 20pt;
	}
	h1.blog-title, h3.blog-slogan, div.pg-item-list {
		width: 98% !important;
	}
}

@media only screen and (min-device-width: 481px) {
	body, a {
		font-size: 12pt;
	}
	h1.blog-title, h3.blog-slogan, div.pg-item-list {
		width: 80% !important;
	}
}